.App {
  /* text-align: center; */
}



.paginationBttns{
  width:60%;
  height:10px;
  list-style: None;
  display: flex;
  justify-content: center;
  font-size: small;
  font-weight: bold;
  margin-left:50px;
}

.paginationBttns a{
  padding: 2px 10px;
  margin: 5px 12px;
  border-radius: 5px;
  border: 1px solid #0082F0;
  color:#0082F0;
  cursor: pointer;
  background-color:#fff ;
}

.paginationBttns a:hover{
  color: #fff;
  background-color: #0082F0;

}

.paginationActive a{
  
  color: #fff;
  background-color: #0082F0;
}

